<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852364143244-ci1rl9s8tutv8j27em6tikoiu9c296ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852364143244-ci1rl9s8tutv8j27em6tikoiu9c296ea</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852364143244-6635lir6msm6ursd7kmqft51j6smca46.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvlsDODnf_e3BQZ-_GoKKZVqtdJgIbUUM</string>
	<key>GCM_SENDER_ID</key>
	<string>852364143244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.regraconect</string>
	<key>PROJECT_ID</key>
	<string>regraconect</string>
	<key>STORAGE_BUCKET</key>
	<string>regraconect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852364143244:ios:3e93349435a367c9faa9a9</string>
</dict>
</plist>